header{
    background-color: grey;
    height: 100%;
    width: 100%;
    margin-bottom: 2px;
}
#menu{
    background-color: orange;
    width: 100%;
    height: 50px;
    margin-bottom: 2px;
}
main{
    position: relative;
    height: 500px;
    width: 80%;
    align-items: center;
    margin: auto;
}
.centrar{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
aside{
    width: 100%;
    height: 500px;
    float: left;
    position: relative;
    bottom: 500px;
}
#Sidebar1{
    background-color: grey;
    width: 10%;
    height: 500px;
    float: left;
    position: relative;
}
#Sidebar2{
    background-color: grey;
    width: 10%;
    height: 500px;
    float: right;
    position: relative;
}
#seccion1{
    width: 100%;
    height: 250px;
}
#seccion2{
    width: 100%;
    height: 250px;
}
#bloque1{
    background-color: lightyellow;
    width: 50%;
    height: 250px;
}
#bloque2{
    background-color: lightyellow;
    width: 50%;
    height: 250px;
    position: relative;
    left: 50%;
    bottom: 250px;
}
#contenedor{
    background-color: aqua;
    width: 100%;
    height: 250px;
    position: relative;
}
footer{
    background-color: lightgreen;
    width: 100%;
    height: 50px;
    margin-top: 2px;
}


